@import url(https://fonts.googleapis.com/css?family=Lato);


.solid {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h4 {
  display: inline-block;
  padding: 5px 5px;
  font-family: Lato; 
  margin: 5px 5px;
}
button {
  font-family: Lato; 
  border-style: solid;
  box-shadow: 2px 2px 1px rgb(207, 207, 207);
  padding: 8px 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  border-color: rgb(218, 213, 213);
  border-width: 1px;
  background-color: white;
  border-radius: 10px; 
}
.buttonSave {
  margin-left: 80%;
  margin-right: 10px;
}
.buttonSave:active{
  box-shadow: 2px 2px 1px rgb(207, 207, 207) inset;
}
#product_form{
  display: grid;
  font-family: Lato; 
  grid-template-columns: repeat(3, 100px);
}
.dform {
  display: grid;
  font-family: Lato; 
  grid-template-columns: repeat(3, 100px);
}
.userMessage{
  grid-column-start: 1; 
  grid-column-end: 4;
  font-family: Lato; 
}
.elem{
  color: red;
  font-family: Lato; 
}
label {
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: Lato; 
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
}
select {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
}

.productType {
  margin-top: 29px;
  font-family: Lato; 
}