@import url(https://fonts.googleapis.com/css?family=Lato);

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
}
.item {
  border: 1px solid rgb(189, 189, 196);
  width: 200px;
  height: 200px;
  text-align: center;
  list-style-type: none;
  margin-bottom: 25px;
  border-radius: 10px; 
}
.item:hover {
  border: 3px solid rgb(240, 240, 240);
  box-shadow: 5px 5px 10px rgb(196, 195, 195);
  width: 210px;
  height: 210px;
}
.delete-checkbox {
  margin-top: 10px;
  margin-right: 200px;
  margin-left: 10px;
}
.solid {
  width: 100%;
}
.container {
  max-width: 1200px;
  min-width: 1000px;
  margin: auto;
}
h2 {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 5px;
  font-family: Lato; 
}
button {
  font-family: Lato; 
  border-style: solid;
  box-shadow: 2px 2px 1px rgb(207, 207, 207);
  padding: 8px 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  border-color: rgb(218, 213, 213);
  border-width: 1px;
  background-color: white;
  border-radius: 10px; 
}
.buttonAdd {
  margin-left: 70%;
  margin-right: 10px;
}


.info {
  font-family: Lato; 
  margin: 20px 20px;
}
